# requirements.txt Biblioteca para interagir com a API do 
# Telegram
python-telegram-bot==20.0
# Biblioteca que permite interagir com o Telegram como um 
# cliente, essencial para autenticação e envio de 
# mensagens
telethon==1.37.0
# Para agendar tarefas de forma simples e eficiente
apscheduler==3.8.1
# Para carregar variáveis de ambiente do arquivo .env, 
# garantindo segurança para credenciais sensíveis
python-dotenv==1.0.0
# Para manipulação de datas e horários
python-dateutil==2.9.0
# Para gerenciamento de tarefas assíncronas, utilizado em 
# conjunto com outras bibliotecas
anyio==4.6.0
# nova atualização do joque
pip install "python-telegram-bot[job-queue]"
