Explicação dos Pacotes

python-telegram-bot: Biblioteca para interagir com a API do Telegram usando o Bot API. A versão 20.0b4 foi utilizada por você no código, que é uma versão beta mais recente.

telethon: Biblioteca que permite interagir com o Telegram como um cliente (usuário), permitindo funcionalidades que não são possíveis apenas com o Bot API. A versão 1.24.0 é uma versão estável que você pode usar.







anyio==4.6.0
python-dateutil==2.9.0.post0
python-telegram-bot
Telethon==1.37.0

